mport url("fonts.css");

body {
    font-size: 11px;
    font-family: "Ubuntu";
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.6em;
}

h3 {
    font-size: 1.4em;
}

h4 {
    font-size: 1.2em;
}


.description {
    font-size: 1.2em;
}

figure {
    text-align: center;
}

img {
    width: 50%;
    height: 50%;
}


.red {
    background: none repeat scroll 0 0 #FF0000;
    border-radius: 9px 9px 9px 9px;
    color: #FFFFFF;
    font-family: 'Ubuntu';
    font-size: 30px;
    line-height: 35px;
    font-weight: light;
    margin: 25px 0;
    padding: 8px 20px 6px;
    text-align: center;
    text-transform: uppercase;
    }
    
p {
   font-family:'Ubuntu';
   font-size: 11px;
}

.bmhinfo p,
.bmhbody p { 
   padding: 0;
   margin: 0;
   line-height: 15px;
}

li strong, ul strong, b, strong {
    font-weight: bold;
    font-family: Ubuntu;
}

.teknisk { 
    font-family: Arial;
        margin-left: 14px;
        height: 20px;
        padding: 4px 7px;
        background: #AAA;
        font-size: 9px;
        line-height: 10px;
        font-weight: bold;
        color: white;
        line-height: 15px;
}

.bmhinfo { 
        font-family: Arial;
        border: 1px solid #CCC;
        padding: 20px;
        line-height: 130%;
        clear: both;
        margin-top: 3px; 
        font-size: 90%;
        
}
.bmhbody { 
        background: #EEE;
        padding: 12px 30px;
        margin-bottom: 4px;
}

.price {
    color: red;
    font-family:'Arial';
    font-weight: bold;
    font-size: 28px;
    text-align: right;  
    padding-top: 15px;
}


.logoimage {
    position: absolute;
    top: 907px;
    right: 10px;
    height: 56px;
    width: 100px;
}

.bmh_url {
    position: absolute;
    top: 957px;
    right: 10px;
    text-align: center;
    width: 100px;
    font-weight: bold;
    font-family: arial;
}
.imagepart {
    text-align: center;
    max-width: 100%;
    display: block;
    overflow: hidden;
  }
    
.internal { 
    width: auto; 
    margin: 0;
    height: auto; 
    max-height: 420px;
}

.qrimage { 
    width: 80px; 
    margin: 20px;
    height: 80px; }

.page-break        { 
    display: block; 
    page-break-before: always;
}

.bmhbottom {
    font-family: 'Ubuntu';
    font-size: 8pt;
    padding: 6px 20px 5px 14px;
    width: 500px;
    text-align: center;
    position: absolute;
    top: 912px;
    border-radius: 9px 9px 9px 9px;
    box-shadow: 0px 1px 12px rgba(0,0,0,0.6);  
}

.bmhbottom p {
    font-family: 'Ubuntu';
    font-size: 8pt;
    line-height: 12pt; 
}

.bmhimage {
    margin-top: 10px;
    width: 100%;
    height: 450px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto 450px;
}


/* styles for invoice */



.ivoice p {
	margin: 0;
	padding: 0;
	font-family: Baskerville, Georgia, Garamond, Times, serif;
    font-size: 9pt !important;
}


div.sender {
	position:  absolute;
	top: 23px;
	left: 380px;
	font-size: 80%;

}

div.invoice_personal_row {
	position: absolute;
	top: 130px;
	left: 62px;
    width: 500px;
}

div.invoice_details_row  {
	position:  absolute;
	top: 160px;
	left: 380px;
	font-size: 80%;
}


div.sender_bottom {
	position:  absolute;
	top: 808px;
	left: 390px;
}

div.invoice_details_row_bottom {
	position:  absolute;
	top: 808px;
	left: 72px;
}


div.ordrenummer {
    position:  absolute;
	top: 738px;
	left: 72px;
	font-size: 80%;
}

div.totalsum {
	position:  absolute;
	top: 935px;
	left: 290px;
}

div.kontonr {
	position:  absolute;
	top: 935px;
	left: 454px;
}


div.order_summary {
	position:  absolute;
	top: 292px;
	left: 60px;
	font-size: 80%;
        min-width: 500px;
               border-top: 1px solid #DDD;
padding-top: 10px;
}

div.order_bookings {
	position:  absolute;
	top: 427px;
	left: 60px;
	font-size: 80%;
}



.order_details {
	clear: both;
    padding:1.2em;
}
.order_details_row {
    display:table-row;
}
.order_details_row div {
    display:table-cell;
    width:380px;
    padding:0.4em;
}
.order_bookings {
    padding:0 0.4em 0.4em 0.4em;
}
.order_bookings h3 {
    margin-top:0.8em;
    margin-bottom:0.3em;
}
.order_bookings table {
    width:100%;
    border:#ddd 1px solid;
    border-spacing:0;
    border-collapse:collapse;
}
.order_bookings table th {
    padding:5px 3px 5px 1em;
    text-align:left;
    background-color:#fafafa;
    border-right:#ddd 1px solid;
    border-bottom:#ddd 1px solid;
    font-weight:bold;
}
.order_bookings table td {
    padding:5px 3px 5px 1em;
    border-right:#ddd 1px solid;
}
.order_bookings tr.odd td {
    background-color:#fbfbfb;
}
